{% load static %}
<!DOCTYPE html>

<header>
  {% if request.user.is_authenticated %}
    <p> Hello, {{request.user.username}}</p> 
    <a href="{% url 'home' %}">Home</a> ||
    <a href="{% url 'logout' %}">Logout</a>
   

  {% else %}
    <a href="{% url 'home' %}">Home</a> ||
    <a href="{% url 'login' %}">Login</a> ||
    <a href="{% url 'registration' %}">Registration</a>

  {% endif %}
  
</header>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gold and Silver Prices</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  
<body>
  <p>hello</p>
  {% if request.user.is_authenticated %}
  
  {% endif %}
    {% block content %}{% endblock content %}
</body>
</html>